@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body{
      color: #fff;
      background-color:#000;
    }
  }
  
  @layer components{
   .menuLink {
    @apply cursor-pointer hover:text-[#c5c5c5]
   }
  
   .tags {
    background-color: #601fcf;
    margin-right: 0.5rem;
    margin-top: o.5rem;
    padding: 3px 10px;
    display: inline-block;
    color: #e3d8d8;
    font-size: 12px;
   }
  
   .tags:last-child{
     margin-right: 0;
   }
   .tags:nth-child(2){
    background-color: #a55eea;
   }
   .tags:nth-child(3){
    background-color: #a204a8;
   }
   .tags:nth-child(4){
    background-color: #e72680;
   }
  }
  
